.results-container {
  font-family: "Noto Sans", sans-serif;
}

.results-container .title {
  /* border: 2px solid #d9dddd; */
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #68a163;
  box-shadow: 0 5px 5px 0 #ccc;
  border-radius: 5px 5px 0 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.results-container .top-info-apt {
  position: relative;
}

.results-container .top-info-apt .like-icon {
  position: absolute;
  top: 0;
  right: 5px;
}

.results-container .top-info-apt .icon {
  position: absolute;
}

.results-container .top-info-apt p {
  margin-left: 30px;
}

.results-container h3 {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 26px;
}

.results-container .address {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(138, 138, 138);
}
.results-container .score {
  color: green;
  font-weight: bold;
}

.results-container .like-icon {
  color: rgb(190, 106, 106);
  cursor: pointer;

  /* margin-bottom: 50px; */
}

.results-container .line {
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.List .score {
  color: green;
  font-weight: bold;
}

.results-container .place-name {
  color: rgb(190, 106, 106);
}
.results-container .place-type {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.results-container .place-type img {
  position: absolute;
  left: 10px;
}

.results-container .List {
  margin-top: 5px;
  border-top: solid;
  border-top-width: thin;
  border-top-color: rgb(99, 99, 99);
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: rgb(99, 99, 99);
}

#results.routes .ListItemEven,
#results.routes .ListItemOdd {
  align-items: center;
  justify-content: center;
  justify-content: start;
  height: 70px;
  position: relative;
  font-weight: 100;
  box-shadow: 0 0 1px rgb(233, 233, 233);
  display: grid;
  padding: 10px 0;
}

#results.routes .ListItemEven p,
#results.routes .ListItemOdd p {
  margin-left: 40px;
}

#results.routes .ListItemEven {
  background-color: #fafafa;
  height: 120px !important;
}

#results.routes .ListItemEven:hover {
  background-color: rgb(255, 248, 242);
  box-shadow: 0 0 1px rgb(233, 233, 233);
}

#results.routes .ListItemOdd {
  background-color: #fffefe;
  height: 120px !important;
}
#results.routes .ListItemOdd:hover {
  background-color: rgb(255, 248, 242);
  box-shadow: 0 0 1px rgb(233, 233, 233);
}
