.search-container {
  margin: 15px 40px;
}

.search-container .first-line {
  position: relative;
}

.search-container .first-line .heading {
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline;
  justify-self: start;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  color: #353535;
}

.search-container .first-line .heading span {
  margin-right: 5px;
}

.travel-mode-container {
  position: absolute;
  top: -8px;
  right: 5px;
}

.travel-mode {
  display: inline;
  margin-top: -10px;
}

.travel-mode label {
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.travel-mode input[type="radio"] {
  appearance: none;
}

.travel-mode .circle {
  background-color: #e6e6e6;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: relative;
  transition: background-color 100ms ease-in;
}

.travel-mode .circle:hover {
  background-color: gray;
}

.travel-mode .circle.checked {
  background-color: tomato;
}

.travel-mode span {
  position: absolute;
  top: 5px;
  left: 10px;
}

.travel-mode span.walking {
  left: 9px;
}

.search-container .place-type-select {
  margin: 10px 0;
}
