.hello-container.row {
  background-color: #faf6f3;
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 55px);
  margin: 0;
  padding: 0 40px;
  font-family: "Noto Sans", sans-serif;
}

.hellopic {
  display: grid;
}

.hellopic img {
  width: 100%;
  align-self: center;
}

.hello-container .overview {
  color: #5f451e;
  padding-left: 80px;
  /* padding-top: 20%; */
  align-self: center;
}

@media (max-width: 992px) {
  .hello-container.row {
    padding-top: 0;
  }

  .hello-container .overview {
    text-align: center;
    padding: 0 40px;
    padding-bottom: 60px;
  }

  .sign-in-container {
    display: grid;
  }

  .sign-in-button {
    justify-self: center;
  }
}

.hello-container .atltitle {
  font-weight: 400;
  color: #1e255f;
  font-size: 4rem;
}

.hello-container .atltitle:hover {
  color: #ecb69d;
}

.hello-container .slogan {
  font-weight: 100;
  color: #5f5e5e;
  font-size: 1rem;
  margin-bottom: 20px;
}

.sign-in-container {
  margin-top: 30px;
}

.sign-in-button {
  margin-bottom: 0.5em;
  border-radius: 2em;
  box-sizing: border-box;
  border: solid 0.5px #cccccc;
  text-align: center;
  text-decoration: none;
  color: #272741;
  width: 200px;
  padding: 10px;
  display: block;
  transition: all 0.1s ease-in-out;
}

.sign-in-button.google {
  border-color: #5e78a1;
}

.sign-in-button.google:hover {
  background-color: #ebc5ada9;
}

.sign-in-button.guest:hover {
  background-color: #fff6eea9;
}
